* {
    box-sizing: border-box;
}

:root{
    --ligh-blue:#50C7C7;
    --dark-blue:#225ca3;
    --dark-grey: #343838;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    max-width: 1200px;
    min-width: 100vw;
    background-color: var(--dark-grey)
}
label{
    color: white;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: black;
}
body {
    background-color: var(--dark-grey);
}

.dash {
    color: black;
    display: flex;
    background: lightblue;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin: 0 0 2vh;
    font-weight: bold;
    text-decoration: none;
}

/* a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color .1s;
} */

h1 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color .1s;
    display: flex;
    min-width: 100vw;
    justify-content: center;
    background: lightgray;
    align-items: center;
    margin-bottom: 2vh;
}

.title a, .title span, li, .meta a, .comment{
    color: white;
}

.title a, .title span, li{
    font-weight: bold;
}

.post {
    padding: 5% 0;
}

.edit-link{
    color: var(--dark-blue);
}

.meta a{
    color: lightblue;
}

button, nav a, .new-post-form .btn, .edit-post-form button, .comment-form button {
    background-color: var(--dark-blue);
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
    /* padding-left: 1%; */
}

.edit-post-form button, .comment-form button{
    margin: 1vh 0;
}

.login-form button, .signup-form button {
    margin: 1vh 0 7vh;
    border-radius: 2px;
}

.new-post-form {
    margin: 2vh 0 5vh;
}

.new-post-form button {
    margin: 2vh 0 0 0;
}

#logout{
    border-radius: 5px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav #dashboard{
    margin: 1vw 1vw;
}

#home{
    margin-left: 1vw;
}

nav a:hover , button:hover {
    color: black;
    text-decoration: none;
}

.dash:hover{
    text-decoration: none;
}

h2{
    color: lightblue;
}

.wrapper h1 a, .post .meta a,.edit-link a{
    text-decoration: none;
}

footer {
    color: white;
    transform: translate(0, 100%);
    margin-top: 10%;
}